version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    open-pull-requests-limit: 10
    versioning-strategy: 'auto'
    schedule:
      interval: 'daily'
    labels:
      - 'dependencies'
