# Force node and npm versions (set in package.json)
# Can't be currently used because CI actions don't have the required node/npm versions
# engine-strict=true

# Exclude packages newer than 7 days (requires npm >=11.10.0)
min-release-age=7
