{{if not (lookup "v1" "Secret" .Release.Namespace .Values.secrets.name )}}
apiVersion: v1
kind: Secret
metadata:
  name: dbildungs-iam-secrets
type: Opaque
data:
  secrets.json: |-
    {{ .Files.Get "config/secrets.json" | b64enc }}
  db.name: {{print "developer" | b64enc }}
  db.password: {{print "yIzqXg7eSXtbnAlhQpPa" | b64enc}}
  db.url: {{print "postgres://spshdeveloper@pg-jqa6s6g610bcjqkt.postgresql.de-txl.ionos.com/" | b64enc}}
  keycloak.adminSecret: {{print "1gUQE9ZsganpMBMAnFMYEVwHeB5deGk0" | b64enc}}
  keycloak.clientSecret: {{print "1gUQE9ZsganpMBMAnFMYEVwHeB5deGk0" | b64enc}}
  frontend.sessionSecret: {{randAlphaNum 20 | quote | b64enc}}
{{end}}