apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.name" . }}-cronjob-envs-configmap
  namespace: {{ template "common.names.namespace" . }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
data:
  KC_TOKEN_URL: "https://{{ $.Values.keycloakHostname }}{{ $.Values.cronjobs.keycloakTokenUrl }}" 
  JWKS_FILE_PATH: "{{ $.Values.cronjobs.jwksFilePath }}"
  KC_CLIENT_ID: "{{ $.Values.cronjobs.keycloakClientId }}"