{{- if not .Values.auth.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.auth.secretName }}
  namespace: {{ template "common.names.namespace" . }}
type: Opaque
data:
  frontend-sessionSecret: {{ .Values.auth.frontend_sessionSecret }}
  db-host: {{ .Values.database.host }}
  db-password: {{ .Values.database.password }}
  db-username: {{ .Values.database.username }}
  keycloak-adminSecret: {{ .Values.auth.keycloak_adminSecret }}
  keycloak-clientSecret: {{ .Values.auth.keycloak_clientSecret }}
  service-account-private-jwks: {{ .Values.auth.service_account_private_jwks }}
  ldap-bind-dn: {{ .Values.auth.ldap_bind_dn }}
  ldap-admin-password: {{ .Values.auth.ldap_admin_password }}
  itslearning-username: {{ .Values.auth.itslearning_username }}
  itslearning-password: {{ .Values.auth.itslearning_password }}
  pi-admin-user: {{ .Values.auth.pi_admin_user }}
  pi-admin-password: {{ .Values.auth.pi_admin_password }}
  secrets-json: {{ .Values.auth.secrets_json }}
  redis-password: {{ .Values.auth.redis_password }}
  vidis-username: {{ .Values.auth.vidis_username }}
  vidis-password: {{ .Values.auth.vidis_password }}
  import-passphrase-secret: {{ .Values.auth.import_passphrase_secret }}
  import-passphrase-salt: {{ .Values.auth.import_passphrase_salt }}
  ox-password: {{ .Values.auth.ox_password }}
  redis-password: {{ .Values.auth.redis_password }}
  auth: {{ .Values.auth.basic_auth_password }}
{{- end }}
