{{- if not .Values.auth.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.auth.secretName }}
  namespace: {{ template "common.names.namespace" . }}
type: Opaque
data:
  frontend-sessionSecret: {{ .Values.auth.frontend_sessionSecret }}
  db-host: {{ .Values.database.host }}
  db-password: {{ .Values.database.password }}
  db-username: {{ .Values.database.username }}
  keycloak-adminSecret: {{ .Values.auth.keycloak_adminSecret }}
  keycloak-clientSecret: {{ .Values.auth.keycloak_clientSecret }}
  ldap-admin-password: {{ .Values.auth.ldap_admin_password }}
  itslearning-enabled: {{ .Values.auth.itslearning_enabled }}
  itslearning-endpoint: {{ .Values.auth.itslearning_endpoint }}
  itslearning-username: {{ .Values.auth.itslearning_username }}
  itslearning-password: {{ .Values.auth.itslearning_password }}
  pi-base-url: {{ .Values.auth.pi_base_url }}
  pi-admin-user: {{ .Values.auth.pi_admin_user }}
  pi-admin-password: {{ .Values.auth.pi_admin_password }}
  pi-user-resolver: {{ .Values.auth.pi_user_resolver }}
  pi-user-realm: {{ .Values.auth.pi_user_realm }}
  pi-rename-waiting-time: {{ .Values.auth.pi_rename_waiting_time }}
  secrets-json: {{ .Values.auth.secrets_json }}
  redis-password: {{ .Values.auth.redis_password }}
  ox-enabled: {{ .Values.auth.ox_enabled }}
  ox-username: {{ .Values.auth.ox_username }}
  ox-password: {{ .Values.auth.ox_password }}
{{- end }}
