{
  "DB": {
    "SECRET": "..."
  },
  "KEYCLOAK": {
    "CLIENT_SECRET": "...",
    "ADMIN_SECRET": "..."
  },
  "FRONTEND": {
    "SESSION_SECRET": "..."
  },
  "REDIS": {
    "PASSWORD": "..."
  }
}