dbildungsIamContainer: "ghcr.io/dbildungsplattform/dbildungs-iam-server:latest"

dbildungsIamExternalPort: 80
dbildungsIamCpuMax: 2
dbildungsIamMemMax: 4G
dbildungsIamCpuRequest: 200m
dbildungsIamMemRequest: 200Mi
dbildungsIamReplications: 1
environment: prod

backendHostname: test.dev.spsh.dbildungsplattform.de

configfile:
  secrets: 'config/secrets.json'
  dev: 'config/config.dev.json'
  test: 'config/config.test.json'
  prod: 'config/config.prod.json'
  local: 'config/config.local.json'

# Configuration of necessary secrets
# Name of the secrets to inject
secrets:
  name: spsh-config
# If we're running inside an environment with a Prometheus-Operator installed we configure a service monitor
enableServiceMonitor: false

# do we use a development redis?
redisEnabled: false
