dbildungsIamExternalPort: 80
dbildungsIamCpuMax: 2
dbildungsIamMemMax: 4G
dbildungsIamCpuRequest: 200m
dbildungsIamMemRequest: 200Mi
dbildungsIamReplications: 1
environment: prod
backendHostname: helm.dev.spsh.dbildungsplattform.de
# Configuration of necessary secrets
# Name of the secrets to inject
secrets:
  name: spsh-config
# If we're running inside an environment with a Prometheus-Operator installed we configure a service monitor
enableServiceMonitor: false
# do we use a development redis?
redisEnabled: false
# Image
image:
  repository: ghcr.io/dbildungsplattform/dbildungs-iam-server
  tag: ""
config:
  db:
    url: ''
    name: ''
    password: ''
  keycloak:
    adminSecret: ''
    clientSecret: ''